$index: calc(1vw + 1vh);

$clr-yellow: #FFEB3B;
$clr-red: #f44336;
$clr-green: rgb(118 255 3);
$clr-blue: #4FC3F7;
$clr-orange: #FFA726;

%d-f {
   display: flex;
   align-items: center;
}
%d-f-c {
   display: flex;
   align-items: center;
   justify-content: center;
}